<?xml version="1.0" encoding="UTF8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://www.mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="mapper.ExampleMapper.xml">
    <!-- 目的：为dao接口方法提供sql语句配置 -->

    <!--	add-->
    <select id="select" parameterType="model.Result">
        select * from example
    </select>


</mapper>